doctype html
html
  head
    title Song Details
  body
    h1 Song Details
    img(src=songData.thumbnail, alt=songData.title)
    p Song ID: #{songData.song_id}
    p Title: #{songData.title}
    p Author: #{songData.author}
    p Lyrics: #{songData.lyrics}
