extends layout

block content
  div.song-details
    h1 #{songData.title}
    p Autore: #{songData.author}
    p Lyrics: #{songData.lyrics}
    img(src=`/images/${songData.thumbnail}`, alt=`${songData.title}`)
    a(href="/") Torna alla lista delle canzoni
